---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Email from "./icons/Email.astro";
---

<div class="flex gap-3">
  <a href="https://github.com/CharlieGarcia" target="_blank" class="p-2 hover:opacity-70 transition-opacity" aria-label="GitHub">
    <Github class="w-5 h-5" />
  </a>
  <a href="https://www.linkedin.com/in/charlie-escoboza/" target="_blank" class="p-2 hover:opacity-70 transition-opacity" aria-label="LinkedIn">
    <LinkedIn class="w-5 h-5" />
  </a>
  <a href="mailto:ing.charlie.garcia@gmail.com" class="p-2 hover:opacity-70 transition-opacity" aria-label="Email">
    <Email class="w-5 h-5" />
  </a>
</div>