---
import TimelineItem from "./Timeline-Item.astro";
---

<div class="space-y-8">
  <TimelineItem time="Dec 2019 - Present" title="Senior Software Developer @ Intellisys D. Corp." description="Led development of AI-powered product finder using Clay CMS. Built high-performance edge services using Fastly Compute@Edge (Go), reducing latency. Developed reusable, component-driven UI architecture."/>
  <TimelineItem time="Dec 2017 - Dec 2019" title="Mid-level Software Developer @ Intellisys D. Corp." description="Developed RESTful APIs for product and content platforms using Node.js. Led migration from WordPress to custom CMS. Built internal tools including newsletter generation system using AWS Lambda."/>
</div>